body {
    background-color: #d7cdb8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  max-height: 70vh;
  border: 6px solid #444;
  border-right-width: 7px;
  border-bottom-width: 8px;
}

.navlinks {
  display: flex;
  justify-content: space-around;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #444;
  border: solid 2px black;
  padding: 1.5vh;
  position: sticky;
  top: 1vh;
  z-index: 1; /* to prevent text from showing over the nav bar */
}

.navlinks a {
  font-size: 14pt;
  color: #eee;
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.painting {
  display: flex;
  padding-bottom: 4vw;
}

.painting div p {
  max-width: 20vw;
  position: relative;
  left: 30px;
}

.homepage {
  display: flex;
  justify-content: space-around;
}

#background {
  transform: scaleX(-1);
}

.bio {
  display: flex;
  font-size: 13pt;
}

.biotext {
  padding-right: 3vw;
}

.exhibits {
  display: flex;
  text-align: center; 
}

.exhibits div {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.exhibits div a {
  font-size: 14pt;
  color: #33f;
  text-decoration: none;
}

.exhibits div img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

.exhibits .exhibit {
  justify-content: center;
  position: relative;
}

.contact div img {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  justify-content: center;
}

.contract-form-wrapper {
  position: absolute;
  border-style: solid;
  border-width: 10px;
  max-width: 100%;
  max-height: 50%;
  background-color: lightcoral;
  bottom: 4.5vh;
  
}
.contact-form {

  margin-left: 5px;
  text-align: left;
  flex-direction: column;
  max-width: 100%;
  margin-block: 20px;
}

.contact div p {
  font-size: 16pt;
}

.contact textarea {
  resize: none;
}


@media screen and (max-width: 1240px) {
  /* mobile stuff */
  .bio div img {
    display: none;
  }
  .bio div figcaption {
    display: none;
  }

  body {
    width: 90vw;
  }

  .navlinks a {
    font-size: 12pt;
  }

  .homepage .painting img {
    display: none;
  }
  .homepage .painting figcaption {
    display: none;
  }
  
  .homepage img {
    max-height: 100%;
    max-width: 90%;
  }

  .contact-form {
    margin-block: 10px;
    max-height: 90%;
  }
  
  .contact div p {
    font-size: 14pt;
  }


  
  
}