
.homepage {
    display: flex;
    justify-content: space-around;
}

#old-guitarist {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
}

/* flip Picasso portrait to look better in the page */
#picasso-portrait figure img {
    transform: scaleX(-1);
}

/* mobile rules */
@media screen and (max-width: 1240px) {

    .homepage .painting img {
      display: none;
    }

    .homepage .painting figcaption {
      display: none;
    }
    
    .homepage img {
      max-height: 100%;
      max-width: 90%;
    }
}